CREATE TABLE usuarios (
    id              SERIAL PRIMARY KEY,
    nome            VARCHAR(100) NOT NULL,
    email           VARCHAR(120) NOT NULL UNIQUE,
    senha           VARCHAR(60)  NOT NULL,
    tipo            VARCHAR(20)  NOT NULL CHECK (tipo IN ('CLIENTE', 'VETERINARIO', 'ADMIN')),
    telefone        VARCHAR(20),
    endereco        VARCHAR(150),
    crmv            VARCHAR(30),
    especialidade   VARCHAR(80)
);

CREATE TABLE pets (
    id              SERIAL PRIMARY KEY,
    nome            VARCHAR(80)  NOT NULL,
    especie         VARCHAR(40)  NOT NULL,
    raca            VARCHAR(60),
    idade           INT,
    tutor_id        INT NOT NULL REFERENCES usuarios (id)
);

CREATE TABLE servicos (
    id              SERIAL PRIMARY KEY,
    nome            VARCHAR(80)  NOT NULL,
    tipo            VARCHAR(40)  NOT NULL,
    preco           DECIMAL(10,2) NOT NULL,
    descricao       VARCHAR(200)
);

CREATE TABLE agendamentos (
    id              SERIAL PRIMARY KEY,
    pet_id          INT NOT NULL REFERENCES pets (id),
    cliente_id      INT NOT NULL REFERENCES usuarios (id),
    veterinario_id  INT REFERENCES usuarios (id),
    servico_id      INT NOT NULL REFERENCES servicos (id),
    data_hora       TIMESTAMP NOT NULL,
    status          VARCHAR(20) NOT NULL DEFAULT 'agendado',
    observacoes     TEXT
);

CREATE TABLE pagamentos (
    id              SERIAL PRIMARY KEY,
    agendamento_id  INT NOT NULL REFERENCES agendamentos (id),
    valor           DECIMAL(10,2) NOT NULL,
    status          VARCHAR(20) NOT NULL DEFAULT 'pendente',
    data_pagamento  TIMESTAMP
);

-- Dados de exemplo
INSERT INTO usuarios (nome, email, senha, tipo)
VALUES ('Admin', 'admin@petcare.com', 'admin', 'ADMIN');

INSERT INTO usuarios (nome, email, senha, tipo, crmv, especialidade)
VALUES ('Dr. João', 'joao@petcare.com', '123', 'VETERINARIO', 'CRMV-12345', 'Clínica Geral');

INSERT INTO usuarios (nome, email, senha, tipo, telefone, endereco)
VALUES ('Maria Silva', 'maria@email.com', '123', 'CLIENTE', '(11) 99999-9999', 'Rua A, 123');

INSERT INTO pets (nome, especie, raca, idade, tutor_id)
VALUES ('Rex', 'Cachorro', 'Labrador', 3, 3);

INSERT INTO servicos (nome, tipo, preco, descricao)
VALUES
    ('Banho', 'banho', 50.00, 'Banho completo'),
    ('Tosa', 'tosa', 80.00, 'Tosa completa'),
    ('Vacina', 'vacina', 100.00, 'Vacinação V8'),
    ('Consulta', 'consulta', 150.00, 'Consulta veterinária');

-- Exemplo de agendamento inicial
INSERT INTO agendamentos (pet_id, cliente_id, veterinario_id, servico_id, data_hora, status)
VALUES (1, 3, 2, 4, '2025-11-10 10:00:00', 'agendado');

INSERT INTO pagamentos (agendamento_id, valor, status)
VALUES (1, 150.00, 'pendente');
